<div class="map-picker-container">

  <div id="map-picker-header">
    <div class="row no-gutters">
      <div class="col map-picker-header-status">Mode: {{bestOf}}</div>
      <div class="col map-picker-header-status">Team: {{currentTeam.name}}</div>
      <div class="col map-picker-header-status">Action: {{currentAction}}</div>
    </div>
  </div>

  <div class="row no-gutters">

    <div class="col team">
      <team-info [team]="teamLeft"></team-info>
    </div>

    <div class="col-6 map-grid">
      <div *ngFor="let map of maps"
           class="map-cell" [ngClass]="{'map-picked':map.picked, 'map-banned':map.banned}" (click)="mapCardClick($event, map)">
        <div class="map-cell-card">
          <p-card [header]="map.name" >
            <img class="map-logo-picker" [src]="map.logo" [alt]="map.name">
          </p-card>
        </div>

      </div>
    </div>

    <div class="col team">
      <team-info [team]="teamRight"></team-info>
    </div>

  </div>

</div>

