<div style="padding: 1em">

  <div id="map-picker-header">
    <div class="row no-gutters">

      <div class="col">
        {{bestOf}}
      </div>


    </div>
  </div>

  <div class="row no-gutters">

    <div class="col team">
      <team-info [team]="teamLeft"></team-info>
    </div>

    <div class="col-8 maps">
      <div class="mapDiv" *ngFor="let map of maps">
        <p-card [header]="map.name">
          <img class="mapLogoImg" [src]="map.logo">
        </p-card>
      </div>
    </div>

    <div class="col team">
      <team-info [team]="teamRight"></team-info>
    </div>

  </div>

</div>

