/* You can add global styles to this file, and also import other style files */
.teamLogoImg{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
.mapLogoImg{
  width: 300px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.image-upload-maps {
  display: inline-block;
}

.image-upload-maps>input {
  display: none;
}

.image-upload-team>input {
  display: none;
}

