/* You can add global styles to this file, and also import other style files */
body{
  background-color: brown;
  margin: 0;
  min-height: 100vh;
}
.teamLogoImg{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}


.image-upload-maps {
  display: inline-block;
}

.image-upload-maps>input {
  display: none;
}

.image-upload-team>input {
  display: none;
}

.display-none{
  display: none;
}


