<p-card header="Teams" styleClass="ui-card-shadow">
  <div class="row no-gutters">
    <div class="col">
      <input placeholder="team1" type="text" pInputText [(ngModel)]="team1"/>
      <div class="image-upload-team">
        <label for="team1LogoInput">
          <img style="cursor:pointer" class="teamLogoImg teamLogoChooser" [src]="team1Logo">
        </label>
        <input id="team1LogoInput" type="file" accept="image/*" (change)="team1LogoInput($event)" />
      </div>
    </div>
    <div class="col">
      <input placeholder="team2" type="text" pInputText [(ngModel)]="team2"/>
      <div class="image-upload-team">
        <label for="team2LogoInput">
          <img style="cursor:pointer" class="teamLogoImg teamLogoChooser" [src]="team2Logo">
        </label>
        <input id="team2LogoInput" type="file" accept="image/*" (change)="team2LogoInput($event)" />
      </div>
    </div>
  </div>
</p-card>

<p-card header="Maps" styleClass="ui-card-shadow">
  <div>
    <p-multiSelect placeholder="maps" [options]="mapsAll" [(ngModel)]="mapsSelected" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
    <div class="image-upload-maps">
      <label for="mapsInput">
        <div class="mapsUploadBtn">upload</div>
      </label>
      <input id="mapsInput" type="file" accept="image/*" (change)="mapsInput($event)" multiple>
    </div>
  </div>
</p-card>

<p-card header="Best of" styleClass="ui-card-shadow">
  <div>
    <p-dropdown  [options]="bestOfAll" [(ngModel)]="bestOfSelected" [panelStyle]="{minWidth:'12em'}"></p-dropdown >
  </div>
</p-card>
<p-button label="Apply" (onClick)="applyConfig($event)"></p-button>

